.imgcont{
 background: linear-gradient(-4deg, #0f1011, hsl(85, 83%, 43%) 100%);
margin-left: auto;
margin-right: auto;
border: 1%;
border-style: double;
border-color: rgb(225, 132, 11);

}

.pagination{
    
    text-align: center;
  
    
  
    

}

.buttonpaginate{
    cursor: pointer;
    border-style: double;
    border-color: rgb(225, 132, 11);
    background: linear-gradient(-45deg, rgb(225, 132, 11), hsl(61, 100%, 63%) 100%);
    width: 10rem;
    height: 3rem;
    margin: inline end 5px; ;
    text-decoration-color: darkgoldenrod;
}
